/*body{
    padding:0px;
}
#container{
    position:absolute;
    margin:200px;
    margin-left:200px;
    margin-top:200px;
}
#container>*{
    margin:initial;
}
*/
#container>img.zoomee{
    width:400px;
    height:400px;
}
/*
.glass{
    opacity:1;
}
.zoomPlane{
    outline:#999999 thin solid;
    background-color:#ff0000;
}
.glass .zoomee{
    opacity:1;
}*/