body{
    padding:0px;
}
#container{
    margin:0px;
}
#container>img.zoomee{
    width:300px;
    height:300px;
}
.glass{
    opacity:1;
}
.zoomPlane{
    outline:#999999 thin solid;
    background-color:#ff0000;
}
.glass .zoomee{
    opacity:1;
}